body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  box-shadow: 0px 0px 10px 2px black;
}

h2 {
  margin: 10px 0 0 0;
}
.BalanceShower {
  height: 100px;
  width: 300px;
  display: flex;
  text-align: center;
  box-shadow: 2px 2px 7px 0px grey;
}

.income {
  width: 145px;
  border-right: 1px solid black;
  margin-right: 38px;
}
.Transaction {
  width: 300px;
  text-align: center;
  border-bottom: 1px solid grey;
}
.history {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
ul {
  padding: 0;
}
input {
  width: 270px;
  height: 35px;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 1px;
  font-size: larger;
}
.btn {
  cursor: pointer;
  background-color: #80ade8;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  margin: 10px 0 30px;
  font-weight: 700;
  width: 270px;
  height: 35px;
}
.minus {
  border-right: 2px solid rgb(235, 99, 99);
  transition: background 0.5s linear 0s;
}
.plus {
  border-right: 2px solid rgb(88, 179, 231);
  transition: background 0.5s linear 0s;
}
.minus:hover {
  background: rgb(235, 99, 99);
}
.plus:hover {
  background: rgb(88, 179, 231);
}
