*{
  font-family: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 720px;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  box-shadow: 0px 0px 10px 2px grey;
}

h2 {
  margin: 10px 0 0 0;
}
.BalanceShower {
  height: 100px;
  width: 300px;
  display: flex;
  text-align: center;
  box-shadow: 2px 2px 7px 0px grey;
}

.income {
  width: 145px;
  border-right: 1px solid grey;
  margin-right: 38px;
}
.Transaction {
  width: 300px;
  text-align: center;
  border-bottom: 1px solid grey;
}
.history {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  border: 1px solid black;
}
ul {
  padding: 0;
}
input {
  width: 270px;
  height: 35px;
  border: none;
  border-bottom: 2px solid grey;
  font-size: larger;
}
input:focus{
outline: none;
}
.btn {
  cursor: pointer;
  background-color:rgb(88, 179, 231) ;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  margin: 10px 0 30px;
  font-weight: 700;
  width: 270px;
  font-size: large;
  height: 35px;
  border-radius: 10px;
}
.minus {
  border-right: 3px solid rgb(235, 99, 99);
  transition: background 0.5s linear 0s;
}
.plus {
  border-right: 3px solid rgb(88, 179, 231);
  transition: background 0.5s linear 0s;
}
.minus:hover {
  border-right:none ;
  background: rgb(235, 99, 99);
}
.plus:hover {
  border-right:none ;
  background: rgb(88, 179, 231);
}
.red{
color: rgb(235, 99, 99);
}
.blue{
  color:rgb(88, 179, 231)
}
.LiBtn{
background: none;
border: none;
width: 40px;
height: 25px;
font-size: large;
color: rgb(30, 30, 30);
background-color: rgb(255, 46,46);
opacity: 0;
transition: opacity 0.5s linear 0s;
}
.history:hover .LiBtn{
  opacity: 1;
}
.Edit{
  border: 1px solid black;
  background-color: rgb(88, 179, 231);
}
ul{
  background-color: gray;
  min-height: 100px;
  width: 304px;
}
.history:hover{
  width: 303px;
}